@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  --primary-color: #22d3ee;
  --dark-grey: #64748b;
  --grey: #94a3b8;
  --light-grey: #cbd5e1;
  --background: #f1f5f9;
  --light-background: #f8fafc;
  --node-margin: 0.25rem;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  --menubar-height: 8rem;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--light-background);
  padding: 0;
  height: 100%;
  width: 100%;
}

body,
#gogodoLogo,
#profileMenu,
.profileItems,
.nodeBtn {
  margin: 0;
  border: 0;
}

#menubar {
  display: flex;
  flex-direction: column;
  height: var(--menubar-height);
  background-color: var(--background);
  margin: 0px;
}

#profileMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.75rem 0 0;
}

h3 {
  color: var(--grey);
  font-size: 0.85rem;
}

#logoBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gogodoLogo {
  max-height: 3.2rem;
  width: 100%;
  padding: 0;
}

.logoSubheader {
  margin: 0 0 2rem 1rem;
  text-align: center;
}

#profileImage {
  max-height: 2rem;
}

#settingsIcon {
  max-height: 1.25rem;
}

.profileItems {
  margin: 0.5rem 0 0 0.5rem;
}

/* Styling for the list and map area */

#mapListArea {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  background: var(--light-background);
  gap: 1rem;
  padding: 1rem;
}

#mainList {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  max-width: 50rem;
  min-width: 30rem;
  border-radius: 0.5rem;
}

.node {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.2rem;
}

.triangleRight {
  border-width: 0.3rem 0 0.3rem 0.48em;
}

.triangleDown {
  border-width: 0.48em 0.3rem 0 0.3rem;
}

.triangleDown,
.triangleRight {
  grid-column: 1 / 2;
  margin-left: 0.8rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--dark-grey);
}

.nodeTitle {
  align-self: center;
  margin-left: 0.5rem;
}

.nodeContainer {
  display: flex;
  flex-direction: row;
  grid-column: 2 / 37;
  margin: var(--node-margin) 0 var(--node-margin) 0;
  color: var(--grey);
  justify-content: space-between;
  border: solid 1px var(--light-background);
  background-color: white;
  height: 1.5rem;
  border-radius: 0.75rem;
  margin: 0.25rem;
  background-color: var(--light-background);
}

#uuid {
}

.nodeBtn {
  min-width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
  color: var(--grey);
  text-align: center;
  padding: 0.1rem;
  background-color: var(--pr);
  border: #cbd5e1 0.05rem solid;
  border-radius: 0.5rem;
  margin-left: var(--node-margin);
}

.nodeTextArea {
  margin: var(--node-margin);
  flex-grow: 1;
}
.nodeMenu {
  display: flex;
  flex-direction: column;
  width: 9rem;
}
.nodePinMenu {
  display: flex;
  justify-content: right;
  margin: var(--node-margin);
}

.nodeDescription {
  font-size: 0.8rem;
  color: var(--light-grey);
}

.nodeBtn,
.nodeContainer,
#menubar,
#mainList {
  box-shadow: var(--box-shadow);
}
